body {
	background: #000;
	background: url('../images/moulin.png');
}
.row.full-width {width: 1220px;}
.die-container {
	max-width: 540px;
	margin:	0 auto;
}
.button-container {
}
img {
	margin: 15px 3px;
}
a#roll-button1, a#roll-button2 {
	background: #7D15B3;
	color: white;
	padding: 5px 6px;
	border-radius: 5px;
}
a#bank-button1, a#bank-button2 {
	background: #45881C;
	color: white;
	padding: 5px 6px;
	border-radius: 5px;
}
.reset a {
	background: #4d4d4d;
	color: white;
	padding: 5px 6px;
	border-radius: 5px;
}
.roll-button, .bank-button {
	text-align: left;
	font-size: 18px;
}
p.reset {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
h1.site-title {
	text-align: center;
	color: #fff;
	clear: both;
	margin: 40px 0;
}
h2 {color: #fff;
	font-size: 38px;
}
h2 span.bank-button {
	text-align: left;	
}
.button-container h2 {
	margin-top: 5px;
}
p {
	line-height: 1.5;
}
p.results {
	margin: 15px 0 0;
	color: #5FF900;
	font-size: 20px;
}
p.results2 { 
	color: #5FF900;
	font-size: 20px;
	margin-bottom: 15px;
}
p.about {
	font-size: 15px;
	color: #bbb;
	background: #282828;
	margin-top: 60px;
	padding: 8px 12px;
	border-radius: 5px;
}
.die-holder {
	width: 379px;
	margin: 0 auto;
}
.promo a {
	color: #5FF900;
	text-decoration: none;
}
.promo a:hover {
	color: #7848fe;
	text-decoration: underline;
}
p.promo {
	color: #5FF900;
	margin: 20px 0;
}
p.promo {
	text-align: left;
}

@media only screen and (max-width: 700px) {
	h1 {font-size: 34px;}
}